[submodule "mod/GEOframeUtils"]
	path = mod/GEOframeUtils
	url = git@github.com:geoframecomponents/GEOframeUtils
[submodule "mod/HydroGeoEntities"]
	path = mod/HydroGeoEntities
	url = git@github.com:geoframecomponents/HydroGeoEntities
[submodule "mod/SewerPipeDimensioning"]
	path = mod/SewerPipeDimensioning
	url = git@github.com:geoframecomponents/SewerPipeDimensioning
[submodule "mod/HydroGeoConnections"]
	path = mod/HydroGeoConnections
	url = git@github.com:geoframecomponents/hydroGeoConnections
